@import url('https://fonts.google.com/specimen/Staatliches');

.about-us-container {
    display: flex;
    flex-direction: column;
  }
  
  .about-us-content {
    margin-left: auto;
    margin-right: auto;
    padding: 12vh;
  }
  
  .about-us-heading {
    text-align: left;
    font-size: 8vh;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #1F3038;
    font-family: "Staatliches", sans-serif;
    font-style: normal;
  }
  
  .about-us-paragraph {
    color: black;
    line-height: 1.625;
    font-size: 1.125rem;
    letter-spacing: 0.5vh;
  }
  
  .about-us-bold {
    font-weight: bold;
  }