@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.text-left {
    padding: 10vh 30vh;
    font-family: 'Poppins', sans-serif;
}

.AEGS {
    text-align: left; /* Align text to the left */
    line-height: 1.4; /* Adjust line height as needed */
    font-size: 7vh;
}

.landing-text {
    margin-bottom: 5vh;
    color: rgb(85, 81, 81);
    padding-right: 70vh;
}

.grade-button {
    background-color: #1f3038;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10vh;
    text-decoration: none;
}

.grade-button:hover {
    background-color: #2c3e50;
    text-decoration: none;
    color: white;
}

.illus {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1; /* Ensures it stays behind all elements */
    width: 100vh; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    object-fit: cover; /* Ensures it covers the necessary area */
}