/* userguide.css */
.user-guide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1F3038;
}

.user-guide-content {
    width: 100%;
    max-width: 1400px;
    padding: 1vh;
}

.user-guide-title {
    font-size: 8vh;
    margin-bottom: 2vh;
    color: #1F3038;
    font-weight: bold;
    letter-spacing: 3vh;
    text-align: center;
    margin-top: 0;
}

.user-guide-subtitle {
    font-size: 1.2rem;
    margin-bottom: 7vh;
    text-align: center;
    color: #1F3038;
    font-weight: bold;
    letter-spacing: 0.5vh;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.video-section {
    width: 50%;
    padding-right: 20px;
}

.video-placeholder {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);;
}

.video-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.play-button {
    position: absolute;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.video-caption {
    margin-top: 10px;
    text-align: center;
    letter-spacing: 0.5vh;
    color: #1F3038;
    font-weight: bold;
}

.faq-section {
    width: 45%;
}

.faq-title {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: bold;
    color: #1F3038;
}

.faq-item {
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.faq-question {
    width: 100%;
    padding: 10px;
    color: #1F3038;
    font-weight: 400;
    background-color: #f0f0f0;
    border: none;
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.3vh solid #1F3038;
    font-family: 'Poppins', sans-serif;
}

.faq-answer {
    padding: 10px;
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out; /* Added transition */
}

.faq-item.active .faq-answer {
    display: block;
    max-height: 500px; /* Adjust as needed */
    transition: max-height 0.3s ease-in; /* Added transition */
}

.expand-icon {
    font-size: 1.5em;
    transition: transform 0.3s ease; /* transition for the icon */
}

.faq-item.active .expand-icon {
    transform: rotate(180deg); /* Rotate the icon when active */
}